[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.25.1"
pandas = "*"
kaggle = "~=1.5.12"

[dev-packages]
pylint = "*"
pytest = "*"

[requires]
python_version = "3.8"
