publish_time,channel_id,title,description,thumbnail_url,thumbnail_width,thumbnail_height,channel_name,tags,category_id,live_status,local_title,local_description,duration,dimension,definition,caption,license_status,allowed_region,blocked_region,view,like,dislike,favorite,comment,trending_time
2021-02-05T09:00:34Z,UCEf_Bc-KVd7onSeifS3py9g,aespa 에스파 'Forever (약속)' MV,"aespa's new single ""Forever"" is out!
Listen and download on your favorite platform: https://smarturl.it/aespa_Forever

Subscribe to aespa Official YouTube Channel!
https://www.youtube.com/aespa?sub_confirmation=1

aespa official
https://www.youtube.com/c/aespa
https://www.instagram.com/aespa_official
https://www.tiktok.com/@aespa_official
https://twitter.com/aespa_Official
https://www.facebook.com/aespa.official
https://www.vlive.tv/channel/97CCED
https://weibo.com/aespa

#aespa #æspa #Forever #약속 #에스파
aespa 에스파 'Forever (약속)' MV ℗ SM Entertainment",,,,SMTOWN,,10,none,aespa 에스파 'Forever (약속)' MV,"aespa's new single ""Forever"" is out!
Listen and download on your favorite platform: https://smarturl.it/aespa_Forever

Subscribe to aespa Official YouTube Channel!
https://www.youtube.com/aespa?sub_confirmation=1

aespa official
https://www.youtube.com/c/aespa
https://www.instagram.com/aespa_official
https://www.tiktok.com/@aespa_official
https://twitter.com/aespa_Official
https://www.facebook.com/aespa.official
https://www.vlive.tv/channel/97CCED
https://weibo.com/aespa

#aespa #æspa #Forever #약속 #에스파
aespa 에스파 'Forever (약속)' MV ℗ SM Entertainment",PT5M7S,2d,hd,true,True,,,6161440,814292,21495,0,90918,2021-02-07 00:45:25.828907
