publish_time,channel_id,title,description,thumbnail_url,thumbnail_width,thumbnail_height,channel_name,tags,category_id,live_status,local_title,local_description,duration,dimension,definition,caption,license_status,allowed_region,blocked_region,view,like,dislike,favorite,comment,trending_time
2021-11-30T11:54:43Z,UCp7JIVbYW5cq86ifi68yDmQ,Makanan Artis Paling Ga Enak Part. 2,,https://i.ytimg.com/vi/89Z8n_grUXI/hqdefault.jpg,480,360,Anak Kuliner,,22,none,Makanan Artis Paling Ga Enak Part. 2,,PT12S,2d,hd,False,False,,,1218739,15199,1139,0,816,2021-12-07 17:09:56.012384+00:00
